h3{color: rgb(255, 166, 0);
  
    font-weight: bold;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*{background-color:whitesmoke;

    color: rgb(215, 144, 13);
    margin: 20px;
    padding: 10px;
}
.second{
    display: none;
    /* visibility: hidden; */
}
.blog{
    border: 2px solid wheat;
    padding: 10px;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 10px 5px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{ 
    /* background-image:url('../peter-herrmann-FBlQN_UHQzc-unsplash.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-size: 200px; */
}